:root {
  --background: #2d353b;
  --foreground: #d3c6aa;
  --color_01: #4b565c;
  --color_02: #e67e80;
  --color_03: #a7c080;
  --color_04: #dbbc7f;
  --color_05: #7fbbb3;
  --color_06: #d699b6;
  --color_07: #83c092;
  --color_08: #e69875;
  --color_09: #7a8478;
  --color_10: #e67e80;
  --color_11: #a7c080;
  --color_12: #e39b75;
  --color_13: #3a94c5;
  --color_14: #df69ba;
  --color_15: #35a77c;
  --color_16: #dfddc8;
}

html {
  font-family: "JetBrains Mono", system-ui, Roboto, sans-serif;
  font-size: 1em;
  margin: 0 auto;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header h1 {
  color: var(--color_16);
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section strong {
  color: var(--color_06);
}

/* .container { */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/* } */

a {
  text-decoration: none;
}

.link {
  color: var(--color_07);
  border-bottom: dashed 1px;
}

.link:hover {
  color: var(--color_06);
  border-bottom: dashed 1px;
}

.logo {
  width: 85px;
  height: auto;
  border-radius: 25%;
}

h2 {
  color: var(--color_07);
  display: flex;
  justify-content: left;
  align-items: center;
}

.findme {
  display: flex;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: var(--color_09);
}
