[submodule "casper-pelican-theme"]
	path = casper-pelican-theme
	url = ../../mstuttgart/casper-pelican-theme.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = ../../getpelican/pelican-plugins.git
