[submodule "casper-pelican-theme"]
        path = casper-pelican-theme
        url = https://github.com/mstuttgart/casper-pelican-theme.git
[submodule "pelican-plugins"]
        path = pelican-plugins
        url = https://github.com/getpelican/pelican-plugins.git
